

.App {
  text-align: center;
}

.split{
  display: flex;
}

.side-bar{
  width: 25%;
  min-width: 140px;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.side-bar header{
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding: 1.5rem;
}

.side-bar header h1{
  height: 35px;
}

.side-bar header button{
  font-size: 1.1rem;
  padding: .14em .3em;
  margin-left: .7rem;
  color: white;
  font-weight: bold;
  background: rgb(26, 81, 210);
  border: none;
  border-radius: 3px;
}

.note-card{
  background: rgb(26, 81, 210);
  color: whitesmoke;
  text-align: start;
  padding: .9rem 0 .9rem .3rem;
  margin-bottom: .15rem;
}

.note-card button{
  margin-left: .5rem;
  
}